'.source.css':
  'Header:comment':
    'prefix': 'ch'
    'body': """
      /* # =================================================================
         # ${1:My section title}
         # ================================================================= */
    """
