'.source.css.scss, .source.sass':
  'Header:comment':
    'prefix': 'ch'
    'body': """
      // # =================================================================
      // # ${1:My section title}
      // # =================================================================
    """
